<div class="users">
  <h1>Explore Someone Else's Bucket List</h1>
  <% @users.order("username ASC").each do |user| %>
  <h2>
    <a href="<%= user_items_path(user) %>">
      <%= user.username.upcase %>
    </a>
  </h2>
  <% end %>
</div>
